nav{
   background-color: black;
    padding-top: 1px;
    height: 10vh;
    background-size: 200px;
    border-bottom-color: #023046 ;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;  
    box-sizing: border-box;  
    width: 100%;
    position: fixed ; 
   

}




h1
{
    padding-left: 40px;
    padding-top: 10px;
    
}

body
{
    padding: 0px ;
    margin: 0px;
}

.page-body
{
   
    width: 100%;
    height: 90vh;
    background-color: black;
    background-image: url(../IMG/bg.png);  
   
    background-size: 100% 100%;
   box-sizing: border-box;
   
}


.nav-item
{
 
  height: 70%;
  width: 100px;
  display:inline-block ; 
  border-radius: 10px 25px;
  background-color: #07425fa4;
  margin-top: 7px ;
  text-align: center;
  box-sizing: border-box;

  

}


#items
{
    width: 50%;
    height: 100%;
    text-align: right;
    margin-left: auto;
    padding-right: 15px;
    float: right;
    padding-top: 3px;
 
}


h2
{
color: rgb(171, 175, 189);
margin-top: 11px;


}




.image
{ 
width: 35%;
height: 80%;
display: inline-block ;
box-sizing: border-box;

text-align: center;
position: relative;
padding-bottom: 0;
}

#personal-img
{
position: absolute;
width: 60%;
height: 60%;
border-radius: 100%;
border-style: solid;
border-color: #023046;
border-width: 2px;
bottom: 10%;
left: 20%;


}

.info
{
    width: 60%;
    height: 100%;
    display: inline;
    box-sizing: border-box;
   float: right;
   padding-top: 3%;
   
}

#personal-info
{
    padding-top: 1px;
    width: 100%;
    height: 43%;
    box-sizing: border-box;
    padding-top: 70px;
    color: #eee;
    padding-left: 100px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 3px;


}

#name
{
    margin-top: 1px;
    font-size: 50px;
    margin-bottom: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}



#page-title
{
    float: left; 
    width: 40%;
   
    height: 100%;
    padding-left: 20px;
    padding-top: 3px;
    box-sizing: border-box;
    font-family: monospace ;
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(  #04abffa4 , #eee );
    -webkit-background-clip: text;
    padding-left: 3% ;
    -webkit-text-fill-color: transparent;
}

i{
    color:white ; 
   font-size: 40px ;
   float: left;
   margin-right: 8px;
   padding-top: 10px;
  
}

footer
{
width: 100%;
height: 20vh;

background: -webkit-linear-gradient(#043d57 , rgb(0, 0, 0));
box-sizing: border-box;
text-align: center;
}


.footitem
{
display: inline-block;
width: 30%;
height: 90%;
margin-left: 10px;
box-sizing: border-box;
text-align: left;


}

.footitem ,p{
    color:white ;
    font-size: 20px;
    font-weight: bolder;
}



